html,
body {
    margin: 2px;
    padding: 2px;
    height: 90%;
    background-color: black;
    color: white;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1px;
}

.title h1 {
    margin: 1px;
    margin-top: 5px;
    padding: 1px;
}

.author h6 {
    justify-self: flex-end;
    background-color: grey;
}

.title h6 {
    margin: 1px;
}

#cesiumContainer {
    height: 70vh;
    margin-bottom: 10px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1px;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
}

h2 {
    margin: 1px;
}

.searchCard {
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    background-color: darkgray;
    color: white;
    opacity: 0.9;
    padding: 1px;
    margin: 1px;
    margin-bottom: 10px;
    border-radius: 25px;
    width: 100%;
    height: 36px;
    max-width: 500px;
}

.homeCard {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-around;
    background-color: darkgray;
    color: white;
    opacity: 0.9;
    padding: 1px;
    border-radius: 25px;
    width: 100%;
    height: 36px;
    max-width: 300px;
    ;
}

.satSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    padding: 1px;
}

.homeSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    padding: 1px;
}

textarea.satInput {
    border-radius: 15px;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 70%;
    font-weight: 900;
    text-indent: 5px;
    transition: .35s ease;
    width: 100%;
    background-color: lightskyblue;
    width: 400px;
    height: 22px;
    line-height: 1;
    resize: none;
}

textarea.satInput:hover {
    background-color: black;
    color: rgb(169, 238, 243);
    box-shadow: 0px 0px 12px 2.3px #740506;
}

textarea.homeInput {
    border-radius: 15px;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 70%;
    font-weight: 900;
    text-indent: 5px;
    transition: .35s ease;
    width: 100%;
    background-color: lightskyblue;
    width: 220px;
    height: 16px;
    line-height: 1;
    resize: none;
}

textarea.homeInput:hover {
    background-color: black;
    color: rgb(169, 238, 243);
    box-shadow: 0px 0px 12px 2.3px #740506;
}

button {
    margin: .5em;
    border: none;
    border-radius: 25px;
    outline: none;
    padding: 8px;
    background-color: grey;
    cursor: pointer;
    transition: .35s ease;
}

button:hover {
    background-color: black;
    color: lightgrey;
    box-shadow: 0px 0px 12px 2.3px #740506;
}

 ::placeholder {
    font-size: 100%;
    font-weight: 900;
    text-indent: 5px;
}